<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
        bootstrap="../lib/Test/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <testsuites>
        <testsuite name="general">
            <directory>../lib/Test/PHPSemVer</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../lib/PHPSemVer</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="var/phpunit/coverage.xml"/>
        <log type="testdox-text" target="var/phpunit/testdox.txt"/>
    </logging>
</phpunit>